<div class="container mt-5 py-5">
    <div class="row">
        <div class="col-md-6 ">
            <img class="main-pic" src="assets/imges/coffee.png" alt="">
        </div>
        <div class="col-md-6 text-center py-5 brown ">
            <h1>Barista <img src="assets/imges/coffee-beans.png" alt=""></h1>
            <h2>Our coffee is made with love to make you feel home </h2>
            <h2>Try it once and you will never forget the taste</h2>
            <h3>Explore the menu and order now</h3>
            <button class="btn btn-dark shadow" routerLink="/menu" routerLinkActive="brown">
                Explore</button>
        </div>
    </div>
</div>
