img{
    width: 40px;
    margin-right: 5px;
}
div a{
    text-decoration: none;
    color: #722419;
    margin-top: 22px;
    font-size: 1.5em;
}
.brown{
    color: #db8e44 !important;
    /* color: #722419 !important; */
}
