<div class="px-4 py-2 text-center border-bottom border-opacity-50 shadow" fxLayout="row" fxLayoutAlign="space-between center">
    <div  fxLayoutAlign="space-between center">
        <img src="assets/imges/coffee-cup.png" alt="cofee cup">
        <a  routerLink="/home"  routerLinkActive="brown">Barista</a>
    </div>
    <div fxLayoutAlign="start center">
        <div class="me-5">
            <a routerLink="/menu" routerLinkActive="brown">Menu</a>
        </div>
        <div class="me-5">
            <a routerLink="/cart" routerLinkActive="brown">Cart</a>
        </div>
        <div>
            <a routerLink="/admin" routerLinkActive="brown">Admin</a>
        </div>
    </div>
</div>
